@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
	B-301, Monalisa Business Center,<br /> Near More Mega Store,<br /> Manjalpur, Vadodara, Gujarat 390011.<br />
</address>

<address>
    <strong>Support:</strong>   <a href="#">Support@promactinfo.com</a><br />
    <strong>Marketing:</strong> <a href="#">Marketing@promactinfo.com</a>
</address>